
.studolite-skill-container{
  
    border: 2px solid #323232bf;
    margin-right: 30px;
    min-height: 60vh;
    border-radius:30px;
  }
  .studolite-skill{
    display: inline-block;
    padding:4px 10px 4px 10px;
    border: 2px solid #323232bf;
    border-radius:10px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 4px ;
  }
  .studolite-skill:hover{
    box-shadow: 0px 0px 10px;
    color: wheat;
  }
  .studolite-home-header{
    margin: 20px;
  }