<section  class="studolite-home-header">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div >
            <br>
            <br>
          <h1>
            Shatrudhan Kumar,<br>
          </h1>
          <p>
            Experienced Microsoft Certified Professional with a robust background in developing and maintaining 
            Enterprise Web Applications. Bringing over 8 years of expertise in the IT sector, specializing in 
            the Banking, Financial, and Trading industries.
          </p>
        </div>
      </div>
      <div class="offset-md-1 col-md-4 studolite-skill-container" >
        <br/>
        <P>Expertise in </P>
         <div class="studolite-skill">C#</div>
         <div class="studolite-skill">.Net Frameword</div>
         <div class="studolite-skill">.Net Core</div>
         <div class="studolite-skill">Web Api</div>
         <div class="studolite-skill">Angular</div>
         <div class="studolite-skill">Sql</div>
         <div class="studolite-skill">Azure</div>
         <div class="studolite-skill">MVC</div>
         <div class="studolite-skill">Entity Framework</div>
         <div class="studolite-skill">ADO. Net</div>
         <div class="studolite-skill">Html</div>
         <div class="studolite-skill">Javascript</div>
         <div class="studolite-skill">JQuery</div>
         <div class="studolite-skill">Fenergo</div>
         <br/>

        <P>
          <br/>Note: Hover over each skill for more info.</P>
      </div>
  </div>
</section>